* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f8f9ff;
}

/* section -> class 01  */

.class01 {
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 698px;
    margin: 0 auto 116px auto;
    background-size: contain;

}

/* nav styles */

nav {
    width: 1140px;
    height: 151px;
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;
}

nav p {
    width: 99px;
    height: 51px;
    font-family: Inter, sans-serif;
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav button {
    margin-top: 50px;
    margin-bottom: 50px;
}

.class01 button {
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;

}

.header h1 {
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
    font-weight: 6\700;
    text-align: center;
    margin-bottom: 37px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* section -> class 02  */

.class02 {
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px auto 116px auto;
    /* border: 1px solid #1e28db; */
}

.class02 img {
    border-radius: 48px;
    width: 403px;
    height: 100%;
}

.text-area h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

.text-area p {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: gray;
    margin-bottom: 23px;
}

.text-area button {
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/* section -> class 03  */

.class03 {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto 141px;
    background-color: #EDEEFF;
    padding: 50px 80px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 24px;
}

.class03 h1 {
    font-size: 38px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 40px;
}

.class03 .user-data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.class03 .data h1 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;

}

.class03 .data p {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    font-family: 'Inter', sans-serif;
}

/* section -> class 04  */

.class04 {
    width: 1140px;
    height: 342px;
    margin: 0 auto 92px auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    
}

.class04 h2 {
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 50px;
}

.class04 .feedback-cards {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;

}

.class04 .feedback {
    padding: 24px;
    background: #ffffff;
    border: 2px solid #e5e7eb;
    border-radius: 14px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);

}

.feedback img {
    margin-bottom: 24px;
}

.feedback h3 {
    font-size: 24px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 10px;
}

.feedback p {
    font-size: 16px;
    font-weight: 400;
    color: #252432;
    margin-bottom: 24px;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.reviewer-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('./Assets/avatar.png');
}


.name {
    font-weight: 600;
    color: #1f2937;
    font-size: 1rem;
    margin-bottom: 2px;
}

.date {
    color: #9ca3af;
    font-size: 0.9rem;
}

/* hover effects just for fun 
    dont know all the proper mechanism of hover effects
    but used from the internet
    will learn more about it later
    especially the transition and transform properties
    and how to use them properly
    but for now i know that cursor: pointer; is used to change the cursor to a pointer when hovering over an element
    and background-color: violet; is used to change the background color of an element when hovering
    thats all for now
*/

.hover {
    transition: transform 0.3s ease;
}

.hover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: violet;
}

/* section -> class 05  */

.class05 {
    width: 1140px;
    height: 632px;
    margin: 0 auto 14px auto;
    padding: 71px 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}



.left-side p {
    font-size: 97px;
    font-weight: 700;
    color: #000000;
    font-family: 'Raleway', sans-serif;
}

.right-side form {
    width: 497px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap : 10px;
}

.right-side form input {
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
    font-family: Inter, sans-serif;
}

.right-side form textarea {
    width: 497px;
    height: 135px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
    font-family: Inter, sans-serif;
}

label {
    font-weight: 600;
    color: #333;
    font-size: 14px;
    margin-bottom: 1px;
}

form button {
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-align: center;
}

/* section -> class 06  */
.class06{
    background-color: white;
    width:  1440px;
    height:  428px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.class06 h1 {
    font-size: 100px;
    font-weight: 700;
    color: #4E47FF;
    font-family: Inter, sans-serif;
    margin: 0 0 20px 0;
}

.class06 p {
    font-size: 24px;
    font-weight: 400;
    color: #8987A1;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
}

.class06 ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.class06 ul a {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}


.class06 ul a:hover {
    color: violet;
    text-decoration: underline;
    cursor: pointer;

}